div {
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  border-top-color: black;
  border-left-color: red;
  border-bottom-color: yellow;
  border-right-color: green;
}
